<!DOCTYPE html>
<html lang="en">
<head>

  <!-- CSS -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <div id="hacker-header">
      <a id="logo" href="http://localhost:9393"><img src="/img/crymx1.gif"></a>
    <ul>
      <li><strong><a href="http://localhost:9393">Hacker Blues</strong></a></li>
      <li><a href="/">posts</a></li>
      <li><a href="/comments">comments</a></li>
      <li><a href="/submit">submit</a></li>
      <% if logged_in? %>
        <li class="log-in-head"><a href='/logout'>logout</a></li>
        <li class="log-in-head"><a href="/users/<%= current_user.id %>"><%= current_user.name %></a></li>
      <% end %>
      <% unless logged_in? %>
        <li class="log-in-head"><a href='/login'>login</a></li>
      <% end %>
    </ul>
  </div>

  <title>Hacker Blues</title>
</head>
<body>

  <%= yield %>
  <!-- JavaScript -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
</body>
</html>
