<div class="container">
  <form action='/submit' method='post'>
    <label for="title">title</label>
    <input type='text' name='form[title]'>
    <label for="url">url</label>
    <input type='url' name='form[url]'>
    <h4>or</h4>
    <label for="text">text</label>
    <textarea name='form[text]'></textarea>
    <input type='submit'>
  </form>
</div>
